* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: #fff;
  font-size: 14px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
  padding-top: 25px;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  gap: 40px;
}
.header__left-item {
  text-decoration: none;
  color: #fff;
}
.header__right {
  display: flex;
  flex-direction: row;
}
.header__search {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-right: 40px;
}
.header__search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__search input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: #fff;
  width: 41px;
}
.header__search input::placeholder {
  color: #fff;
}
.header__account {
  display: flex;
}
.header__account-text {
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
}
.header__account-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.main__title {
  max-width: 730px;
  margin: 0 auto;
  margin-top: 523px;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif";
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  text-align: center;
  padding-bottom: 50px;
}
.main__link {
  width: 261px;
  height: 51px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 35px 15px 35px;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  /* white */
  border: 1px solid rgb(255, 255, 255);
  /* accent */
  background: rgb(51, 51, 51);
  margin: 0 auto;
}
.main__bottomLine {
  margin-top: 79.5px;
}
.main__footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 26px 0;
  gap: 30px;
}
.main__footer img:after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: rgb(255, 255, 255);
}
.main__bg {
  position: absolute;
  width: 1920px;
  height: 950px;
  object-fit: cover;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}